<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ae6d7f4d-3e43-4cfd-b6e4-b09cb9a4c5d9/resourceGroups/esalvage/providers/Microsoft.Web/sites/esalvage</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://esalvage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>esalvage.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>esalvage</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$esalvage</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>